
.Search-input {
  width: 300px;
  padding: 1%;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-right: 3%;
  border-radius: 10px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
}

.Sort-button {
  background-color: mediumaquamarine;
  border: #282c34 1px solid;
  color: white;
  padding: 1%;
  border-radius: 10px;
  width: 200px;
  cursor: pointer;
  font-size: 15px;
}

.Movie-table {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border-spacing: 10px;
}

.Rating-header, .Rating-data {
  text-align: center;
}

.Movie-table, th, td {
  text-align: left;
}

td {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.Title-header, .Title-data {
  padding-left: 15px;
}